html,body{
	height: 100%;
	overflow: hidden;
	-moz-user-select: none; /*火狐*/
	-webkit-user-select: none; /*webkit浏览器*/
	-ms-user-select: none; /*IE10*/
	-khtml-user-select: none; /*早期浏览器*/
	user-select: none;
}
#contaniner{
	width: 100%;
	height: 100%;
}
#stargame{
	position: relative;
	height: 100%;
	background: url(../img/fbJ.jpg);
}
#til{
	position: absolute;
	left: 40%;
	top: 20%;
	transform: translate(-20%);
	color: gray;
	font-size: 2rem;
}
#starbtn{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	width: 100px;
	height: 30px;
	border: 1px solid gray;
	border-radius: 5px;
	color: gray;
	text-align: center;
	line-height: 30px;
}
#game{
	width: 100%;
	height: 100%;
	background: url(../img/fbJ.jpg);
	display: none;
}
#mp{
	position: absolute;
	width: 85px;
	height: 98px;
	background: url(../img/Myplane.png)no-repeat;
}
#over{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	width: 600px;
	height: 60px;
	color: gray;
	border: 1px solid red;
	background-color: red;
	text-align: center;
	line-height: 60px;
	font-size: 20px;
	font-weight: bold;
	z-index: 999;
	display: none;
}
#score{
	position: absolute;
	z-index: 999;
	color: white;
}